Gratuitous ARP is wrong

RFC 5227, section 3 (https://tools.ietf.org/html/rfc5227#section-3) says it should be a ARP request with spa = tpa (mirage-tcpip uses a ARP reply with tpa = broadcast).  Section 3 also makes it clear why an ARP reply is a bad idea.  Related to https://github.com/mato/docker-unikernel-runner/issues/1 (setting `arp_accept` (somewhere in proc on linux) to the bridge and sending an ARP request solves the issue (just verified with @mato)).

Discovered while reimplementing ARP (https://github.com/hannesm/arp - https://hannes.nqsb.io/Posts/ARP)

Thanks for the report - we're indeed doing it pretty wrong.  I'll fix this up.

I'd guess a branch off 2.8.0 release with having only this fixed (and a 2.8.1 release) would make people, instead of waiting till master is in a state to be released (which requires new mirage-types release)....